<div class="body font-sans">

    <div class="flex flex-col lg:flex-row min-h-screen">
      <app-sidebar></app-sidebar>
      <button id="toggleTheme" (click)="toggleTheme()" class="p-2 text-white bg-gray-800 dark:bg-gray-200 dark:text-gray-800 rounded">
        <img src="../../../../assets/dark-theme.svg" style="width: 10px;">
      </button>
      <!-- Main Content Area -->
      <main class="flex-1 p-4 dark:bg-gray-600">
        <app-header></app-header>
        <router-outlet />
        <app-footer></app-footer>
      </main>
    </div>
</div> 

