<div class="body font-sans">

    <div class="flex flex-col lg:flex-row min-h-screen">
      <app-sidebar class="fixed left-0 top-0"></app-sidebar>
      @if(isDarkMode){
        <button id="toggleTheme" (click)="toggleTheme()" class="p-2 rounded w-10 h-10" style="top:25px">
          <img src="../../../../assets/sun.svg">
        </button>
      }
      @else{
        <button id="toggleTheme" (click)="toggleTheme()" class="p-2 rounded w-10 h-10" style="top:25px">
          <img src="../../../../assets/moon.svg">
        </button>
      }
      
      <!-- Main Content Area -->
      <main class="flex-1 p-4 dark:bg-gray-800 ml-20 lg:ml-48">
        <app-header></app-header>
        <router-outlet />
        <app-footer></app-footer>
      </main>
    </div>
</div> 

