<div class="flex">
  <!-- Sidebar -->
  <div 
    [ngClass]="{'hidden': !isSidebarOpen}" 
    class="fixed inset-y-0 left-0 z-20 w-64 bg-white border-r border-gray-200 shadow-lg lg:relative lg:block transition-transform transform lg:translate-x-0 h-100"
    style="background-color:#f7faff;height: 100vh;">
    <div class="flex items-center justify-between px-4 py-4 logo">
      <h2 class="text-xl font-semibold text-blue-900 justify-center">HRMS</h2>
      <button (click)="toggleSidebar()" class="text-gray-600 focus:outline-none lg:hidden">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="flex justify-center">
      <div class="rounded-full overflow-hidden border-4 border-gray-300" style="width: 100px;height: 100px;">
        <img src="../../../../assets/profileimage.jpg" type="img" alt="Profile Image"  />
      </div>
    </div>
    <nav class="mt-4">
      <a href="#" class="block text-red-600 font-semibold hover:text-red-700 px-4 py-2">Dashboard</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">My Tasks</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">My Requests</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">My Profile</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">Notifications</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">Timesheets</a>
      <a href="#" class="block text-gray-700 hover:text-red-600 px-4 py-2">Attendance</a>
    </nav>
  </div>

  <!-- Main Content -->
  <button 
      (click)="toggleSidebar()" 
      class="lg:hidden p-4 text-gray-600 focus:outline-none"
    >
      <i class="fas fa-bars"></i>
    </button>
</div>
