<div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-4 mt-4">
    <div class="grid grid-cols-1 bg-lightblue dark:bg-gray-800 text-gray-900 dark:text-gray-100 md:grid-cols-[3fr_2fr] gap-4 rounded-md">
        <div class="col-span-1 p-5">
            <div class="leave font-bold">Upcoming Holiday</div>
            <div class="p-4 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-md">
                <div class="upcomingHoliday-Name font-semibold">Christmas</div>
                <div class="upcomingHoliday-date text-gray-500 dark:text-gray-400">December 25, 2024</div>
            </div>
        </div>
        <div class="col-span-1 p-5">
            <div class="flex justify-end">
                <a href="#" class="text-blue-600 dark:text-blue-400">View All</a>
            </div>
            <img src="../../../../assets/christmas.png" id="holidayImage" class="rounded-md shadow-lg">
        </div>
    </div>
    <div class="col-span-1 md:col-span-1 bg-lightblue dark:bg-gray-800 dark:text-gray-100 p-4 rounded-md">
        <div class="leave font-bold">Your Scheduled Leaves</div>
        <div class="grid grid-cols-2 md:grid-cols-[4fr_1fr] gap-4">
            <div class="p-4 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-md">
                <div class="upcomingHoliday-date font-semibold">1 Full day leave</div>
                <div class="upcomingHoliday-Name text-gray-500 dark:text-gray-400">November 01, 2024</div>
            </div>
            <div class="p-4 bg-white dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-md">
                <div class="grid place-items-center justify-center">
                    <a href="#" class="text-blue-600 dark:text-blue-400">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>
