@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/scrollbar

.body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.search-button{
    color: #aeb1b0;
    cursor: pointer;
}

nav a{
    height: 50px;
}

#toggleTheme{
    position: absolute;
    height: fit-content;
    top: 30px;
    right: 15px;
}

#holidayImage{
    margin-top: 10px;
}

.card-header{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #7c85a1;
}

.upcomingHoliday-Name{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.upcomingHoliday-date{
    font-size: 12px;
}

.event-organizer{
    color: #7c85a1 ;
    font-size: 10px;
}

.event-organizer-user{
    margin-left: -10px;
}


  