@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    background-color: #fff
}

.search-button{
    color: #aeb1b0;
    cursor: pointer;
}

nav a{
    height: 50px;
}

#toggleTheme{
    position: absolute;
    height: fit-content;
    top: 30px;
    right: 15px;
}

#holidayImage{
    margin-top: 10px;
}

.leave{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.upcomingHoliday-Name{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.upcomingHoliday-date{
    font-size: 12px;
}